<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    <!-- <img src="/images/brand-ft.svg" alt=""> -->
    <h2 class="o-typography-product-heading-level-1">Help us to improve our website.</h2>
    <p>We'd love to hear your feedback on the FT.com website.  Please tell us your thoughts below.</p>
    <p>How likely are you to recommend the FT.com website to friends, family or colleagues?</p>
    <form class="o-forms o-forms-wide" action="/scores/new" method="POST">
      <div class="rating-btns">
        <input value = "1" name="rating" type="radio">0
        <input value = "1" name="rating" type="radio">1
        <input value = "2" name="rating" type="radio">2
        <input value = "3" name="rating" type="radio">3
        <input value = "4" name="rating" type="radio">4
        <input value = "5" name="rating" type="radio">5
        <input value = "6" name="rating" type="radio">6
        <input value = "7" name="rating" type="radio">7
        <input value = "8" name="rating" type="radio">8
        <input value = "9" name="rating" type="radio">9
        <input value = "10" name="rating" type="radio">10
      </div>
      <div>
        <label for="o-forms__textarea" class="o-forms__label">Comments</label>
	      <div class="o-forms__additional-info">Let us know any additional comments you may have.</div>
	      <textarea id="o-forms__textarea" name="comment" class="o-forms__textarea"></textarea>
      </div>
      <input class="o-buttons o-buttons--primary o-buttons--big" type="submit">
    </form>
    <% include ../partials/footer %>
    <script src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-grid@^4.0.0,o-fonts@^3.0.0,o-forms@^5.2.3,o-footer@^6.0.8,o-header@^7.4.0" async />
  </body>
</html>
