<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <h2 class="o-typography-product-heading-level-1">Thanks for your feedback.</h2>
      <p>Click <a href="">here</a> to see what other people have said about FT.com</p>
    </div>
    <% include ./partials/footer %>
    <script src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-grid@^4.0.0,o-fonts@^3.0.0,o-footer@^6.0.8,o-header@^7.4.0" async />
  </body>
</html>
