body {
  /* margin-top: 60px; */
  background: #FFF1E5;
  font-family: MetricWeb, serif;
}

.container {
  margin-top: 30px;
}

p {
  text-align: center;
}

h2 {
  padding-top: 50px;
  text-align: center;
  color: #33302E;
}

.o-forms.o-forms-wide {
  margin: auto;
}

.rating-btns {
  padding-bottom: 10px;
}

input[type="radio"]{
  margin-left: 8px;
}

input[type=submit] {
  margin-top: 10px;
}

footer {
   position: fixed;
   bottom:0;
   left:0;
   width:100%;
}
